[submodule "hello-c"]
	path = hello-c
	url = git@github.com:colinaaa/hello-c.git
[submodule "hello-graphql"]
	path = hello-graphql
	url = git@github.com:colinaaa/hello-graphql.git
[submodule "hello-cxx"]
	path = hello-cxx
	url = git@github.com:colinaaa/hello-cxx.git
